.cloth-list {
  padding: 20px;
}

.cloth-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.cloth-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
}

  .cloth-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .cloth-card button {
    background-color: #f4a261;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

    .cloth-card button:hover {
      background-color: #e76f51;
    }
